.mouse {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(270deg);
    width: 40px;
    height: 24px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  
  .scroll {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -4px;
    width: 16px;
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
    animation: scroll 1.5s infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

.texto-bienvenido {
    margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    letter-spacing: 3px;
}

.contenedor-titulos-cards {
    margin-top: 80px;
}

.contenedor-titulos-cards h3 {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.contenedor-titulos-cards h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.card {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.card h5 {
    font-size: 20px;

    font-weight: bold;
}

.card h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.card p {
    margin-bottom: 10px;
}

.card .btns {
    width: 100%;
    color: #f1f1f1;
    background-color: #252525;
    padding: 10px;
    border-radius: 5px;
}

.membresias-card {
    margin-bottom: 80px;
}

/* .section-imperio */

.section-imperio {
    background-color: #E3E3E3;
    height: 300px;
}

.contenido-imperio {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.col-numero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-imperio h2 {
    font-size: 40px;
    color: #727A69;
    font-family: 'Montserrat', sans-serif;
}

.contenido-imperio h3 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.contenido-imperio p {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.contenido-imperio span {
    color: #727A69;
}

/* .section-imperio 2 */

.section-imperio2 {
    background-color: #727A69;
    height: 300px;
}

.contenido-imperio2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.col-numero2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-imperio2 h2 {
    font-size: 40px;
    color: #E3E3E3;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.contenido-imperio2 h3 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.contenido-imperio2 p {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.contenido-imperio2 span {
    color: #E3E3E3;
}

/* Section Ubicaciones */

.section-ubicaciones {
    margin-top: 80px;
}

.section-ubicaciones .titulo-ubicaciones {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
}

/* Responsive */

@media screen and (max-width: 1024px) {
    .section-imperio {
        height: 400px;
    }

    .section-imperio2 {
        height: 400px;
    }

    .col-numero {
        display: none;
    }

    .col-numero2 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* .contenido-imperio2 p {
       text-align: justify;
    } */
}

@media screen and (max-width: 500px) {
    .contenido-imperio h3 {
        font-size: 35px;

    }

    .contenido-imperio2 h3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 400px) {
    .section-imperio {
        height: 500px;
    }

    .section-imperio2 {
        height: 500px;
    }

    .contenido-imperio h3 {
        font-size: 25px;

    }

    .contenido-imperio2 h3 {
        font-size: 25px;
    }
}